<div class="container-fluid pt-5">
    <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">Catégorie</span></h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let categorie of categories">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ categorie.Nom }}</h5>
            <p class="card-text">{{ categorie.Slogan }}</p>
            <ul>
              <li *ngFor="let sousCategorie of categorie.sousCategories">
                {{ sousCategorie.Nom }} - {{ sousCategorie.Type }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>