.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.project-intro {
  text-align: center;
  margin-bottom: 20px;
}


.project-intro h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.project-intro p {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 600px;
}


mat-card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
}

.project-idea {
  max-width: 600px;
  margin-top: 20px;
  text-align: left;
}

.login-actions {
  display: flex;
  justify-content: flex-end;
  text-align: center;

}

mat-card-footer {
  text-align: center;
  margin-top: 10px;
}

mat-card-footer a {
  text-decoration: none;
  color: #3f51b5;
}

mat-card-footer a:hover {
  text-decoration: underline;
}
